<div class="container">
  <h2 class="text-center font-weight-light">People</h2>
  <p-table [value]="person" [paginator]="true" [rows]="50">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>City</th>
        <th>Phone</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-people>
      <tr>
        <td>{{ people.first_name + ' '  + people.last_name }}</td>
        <td>{{ people.city }}</td>
        <td>{{ people.phone }}</td>
      </tr>
    </ng-template>
  </p-table>
  <br><br>
</div>
