<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{ first + ' ' + last }}</h1>
    <p class="people">
      City : <i>{{person.city}}</i><br>
      Phone: <i>{{ person.phone }}</i>
    </p>
  </div>
</div>

<div class="container">
  <h2 class="text-center font-weight-light">Menu</h2>
  <br>
  <p-table [value]="transactions" [paginator]="true" [rows]="15">
    <ng-template pTemplate="header">
      <tr>
        <th>Item</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-transaction>
      <tr>
        <td>{{ transaction.item_name}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
